body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input[type=submit] {
    width: auto
}

input,textarea {
    font-size:18px;
    width: 200px;
}

label {
    font-size:16px;
}

div#theForm {
    background-color: lightgray
}

#theForm input[type=submit]{
    background-color:lightblue;
    color:white;
}

ul.product-props {
    font-size:small;
}

ul.product-props li {
    list-style-type:none;
}

.product-info {
    
    border:1px solid;
    padding : 5px 3px;
    display:inline-block;
    margin-bottom:2px;
    width : 450px;
    background-color : lightgray;
    border-radius:5px;
}

.product-info img {
    margin-right:3px;
    float:left;
    border:1px solid black;
    max-width:150px;
}

#loginToggle {
    cursor:pointer;
}

.popup-form{
    padding: 5px;
    border: 3px outset gray;
    
    display:inline-block;
}

.popup-form input {
    width:200px;
}

.popup-form label {
    width:150px;
    display:inline-block;
}

.popup-form input[type=checkbox], input[type=submit]
{
    width:auto;
}