<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>Welcome to Dutch Treat</header>
    <section>
        <h1>@ViewBag.Title</h1>
        <div>
            <menu>
                <ul>
                    <li><a href="/app/index">Home</a></li>
                    <li><a href="/app/contact">Contact</a></li>
                    <li><a href="/app/about">About</a></li>
                </ul>
            </menu>
        </div>
        @RenderBody()
    </section>
    <footer>Copyright 2021 Dutch Treat LLC</footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
